div.chart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3%;
}

div.button-container {
    align-self: center;
}

button.new {
    align-self: center;
    margin-top: 1%;
}

button.time {
    padding: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

div.special-message {
    color: red;
    align-self: center;
    margin-bottom: 0;
}

@media only screen and (max-width: 925px) {
    button.new {
        margin-top: 5%;
    }
}

@media only screen and (max-width: 450px) {
    div.chart-container {
        margin-top: 10%;
    }

    button.new {
        margin-top: 10%;
    }
}