select.select {
    width: 60%;
    margin-left: 33%;
    margin-top: 3%;
    border: 1px solid grey;
}

select.special {
    width: 100%;
    margin-left: 0;
}

form.curr-form {
    margin-top: 5%;
}

@media only screen and (max-width: 925px) {
    select.select {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    select.special {
        width: 100%;
    }

    form.curr-form {
        margin-top: 12%;
    }
}