select.select {
    width: 60%;
    margin-left: 33%;
    margin-top: 3%;
    border: none;
    color: white;
}

select.special {
    width: 100%;
    margin-left: 0;
}

form.curr-form {
    margin-top: 5%;
}

div.form-title {
    font-size: 2rem;
    color: #5DCEB3;
    font-weight: bold;
    margin-bottom: 4%;
    padding: 0.5rem;
    border: 3px solid white;
    border-radius: 5px;
    text-align: center;
}

div.first-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 33%;
    margin-right: 6.5%;
}

@media only screen and (max-width: 925px) {
    select.select {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    select.special {
        width: 100%;
    }

    form.curr-form {
        margin-top: 12%;
    }

    div.first-div {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media only screen and (max-width: 450px) {
    div.form-title {
        font-size: 1.6rem;
        padding: .1rem;
        border: 1px solid white;
    }
}