.favs-container {
    background-color: #5DCEB3;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 0rem;
    transition: 0.7s;
    position: fixed;
    z-index: 1;
    border: 3px solid white;
    border-radius: 5px;
}

.hidden {
    opacity: 0;
    left: -100rem;
    transition: 0.7s;
}

.shown {
    opacity: 1;
    left: 0rem; 
    transition: 0.7s;
}

.individual-fav {
    font-size: 2rem;
    color: white;
    margin-top: 3%;
}

.individual-fav:hover {
    border-bottom: 2px solid white;
    color: white;
}

.individual-fav-container {
    margin-left: 10%;
    display: flex;
    align-items: center;
}

button.remove {
    width: fit-content;
}
