.navbar-item:hover {
    background-color: grey;
}

.navbar-item {
    padding: 0;
}

.navbar-text, .navbar-name {
    color: white;
    padding: .5rem .75rem;
}

.navbar-text:hover {
    color: white
}

.navbar-name:hover {
    background-color: #363636;
}
