input.log {
    width: 60%;
    margin-left: 33%;
    margin-top: 3%;
}

form.login-form {
    margin-top: 5%;
}

div.login-title {
    padding-left: 5rem;
    padding-right: 5rem;
    font-size: 2rem;
    color: #5DCEB3;
    font-weight: bold;
    margin-bottom: 3.5%;
    border: 3px solid white;
    border-radius: 5px;
    text-align: center;
}

@media only screen and (max-width: 925px) {
    input.log {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    form.login-form {
        margin-top: 12%;
    }
}